body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #001011;
}

.button {
    border: none;
    background-color: #037971;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 300ms;
}

.button:hover {
    background-color: #02504A;
}

.button-secondary {
    border: none;
    background-color: #FE654F;
    padding: 8px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: all ease 300ms;
}

.button-secondary:hover {
    color: #FFFFFF;
    background-color: #FE4F34;
}

.title {
    font-size: 1.3rem;
    margin: 0;
}

.text {
    font-size: 1rem;
    margin: 4px 0;
    width: 100%;
    text-align: left;
}