body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #001011;
}

.button {
  border: none;
  background-color: #037971;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

.button:hover {
  background-color: #02504a;
}

.button-secondary {
  border: none;
  background-color: #fe654f;
  padding: 8px 16px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

.button-secondary:hover {
  color: #ffffff;
  background-color: #fe4f34;
}

.title {
  font-size: 1.3rem;
  margin: 0;
}

.text {
  font-size: 1rem;
  margin: 4px 0;
  width: 100%;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form textarea {
  height: 48px;
  resize: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  font-family: Roboto,sans-serif;
}

.transfer-layout {
  text-align: center;
  border: 2px solid #fff;
  box-shadow: 0px 38px 120px -20px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  margin: 16px 0;
}
